/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/.php-cs-fixer.dist.php
/grunt-config.json
/dev/tools/grunt/configs/local-themes.js
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/custom_options/*
!/pub/media/custom_options/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/media/sitemap/*
!/pub/media/sitemap/.htaccess
/pub/static/*
!/pub/static/.htaccess
 
/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store
 
/.github/
/bin/
/generated/
/lib/
/.htaccess
/vendor/
/update/
/.htaccess.sample
/.php_cs.dist
/.user.ini
/.travis.yml
/CHANGELOG.md
/auth.json.sample
/COPYING.txt
/index.php
/nginx.conf.sample
/Gruntfile.js.sample
/php.ini.sample
/LICENSE.txt
/LICENSE_AFL.txt
/setup/
/phpserver/
/var/
/package.json.sample
/grunt-config.json.sample
/dev/
/pub/
/app/.htaccess
/app/functions.php
/app/bootstrap.php
/app/autoload.php
/app/etc/db_schema.xml
/app/etc/vendor_path.php
/app/etc/di.xml
/app/etc/NonComposerComponentRegistration.php
/app/etc/registration_globlist.php
/LICENSE_EE.txt
/README_EE.md
/.travis.yml.sample
/.editorconfig
/SECURITY.md